<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="text-900 font-bold text-2xl line-height-2 mb-3">
    SELECT SERVICE
  </div>

  <div class="grid">
    <div
      class="col-12 sm:col-3 md:col-3 lg:col-3 flex align-items-stretch text-center"
    >
      <div class="px-5 py-3 surface-card shadow-2 border-round">
        <a href="" style="text-decoration: none">
          <img src="assets/ford/images/car-service.png" alt="" />
          <div class="text-blue-600 font-medium line-height-3 mb-2 text-center">
            Car Service
          </div>
        </a>
      </div>
    </div>

    <div
      class="col-12 sm:col-3 md:col-3 lg:col-3 flex align-items-stretch text-center"
    >
      <div class="px-5 py-3 surface-card shadow-2 border-round">
        <img src="assets/ford/images/wheel-care.png" alt="" />
        <div class="text-blue-600 font-medium line-height-3 mb-2 text-center">
          Wheel Care
        </div>
      </div>
    </div>

    <div
      class="col-12 sm:col-3 md:col-3 lg:col-3 flex align-items-stretch text-center"
    >
      <div class="px-5 py-3 surface-card shadow-2 border-round">
        <img src="assets/ford/images/oiling.png" alt="" />
        <div class="text-blue-600 font-medium line-height-3 mb-2 text-center">
          Oiling Service
        </div>
      </div>
    </div>

    <div
      class="col-12 sm:col-3 md:col-3 lg:col-3 flex align-items-stretch text-center"
    >
      <div class="px-5 py-3 surface-card shadow-2 border-round">
        <img src="assets/ford/images/brakes.png" alt="" />
        <div class="text-blue-600 font-medium line-height-3 mb-2 text-center">
          Brake Switch
        </div>
      </div>
    </div>
  </div>

  <div class="grid">
    <div
      class="col-12 sm:col-3 md:col-3 lg:col-3 flex align-items-stretch text-center"
    >
      <div class="px-5 py-3 surface-card shadow-2 border-round">
        <img src="assets/ford/images/car-service.png" alt="" />
        <div class="text-blue-600 font-medium line-height-3 mb-2 text-center">
          Car Service
        </div>
      </div>
    </div>

    <div
      class="col-12 sm:col-3 md:col-3 lg:col-3 flex align-items-stretch text-center"
    >
      <div class="px-5 py-3 surface-card shadow-2 border-round">
        <img src="assets/ford/images/wheel-care.png" alt="" />
        <div class="text-blue-600 font-medium line-height-3 mb-2 text-center">
          Wheel Care
        </div>
      </div>
    </div>

    <div
      class="col-12 sm:col-3 md:col-3 lg:col-3 flex align-items-stretch text-center"
    >
      <div class="px-5 py-3 surface-card shadow-2 border-round">
        <img src="assets/ford/images/oiling.png" alt="" />
        <div class="text-blue-600 font-medium line-height-3 mb-2 text-center">
          Oiling Service
        </div>
      </div>
    </div>

    <div
      class="col-12 sm:col-3 md:col-3 lg:col-3 flex align-items-stretch text-center"
    >
      <div class="px-5 py-3 surface-card shadow-2 border-round">
        <img src="assets/ford/images/brakes.png" alt="" />
        <div class="text-blue-600 font-medium line-height-3 mb-2 text-center">
          Brake Switch
        </div>
      </div>
    </div>
  </div>

  <div class="grid">
    <div
      class="col-12 sm:col-3 md:col-3 lg:col-3 flex align-items-stretch text-center"
    >
      <div class="px-5 py-3 surface-card shadow-2 border-round">
        <img src="assets/ford/images/car-service.png" alt="" />
        <div class="text-blue-600 font-medium line-height-3 mb-2 text-center">
          Car Service
        </div>
      </div>
    </div>

    <div
      class="col-12 sm:col-3 md:col-3 lg:col-3 flex align-items-stretch text-center"
    >
      <div class="px-5 py-3 surface-card shadow-2 border-round">
        <img src="assets/ford/images/wheel-care.png" alt="" />
        <div class="text-blue-600 font-medium line-height-3 mb-2 text-center">
          Wheel Care
        </div>
      </div>
    </div>

    <div
      class="col-12 sm:col-3 md:col-3 lg:col-3 flex align-items-stretch text-center"
    >
      <div class="px-5 py-3 surface-card shadow-2 border-round">
        <img src="assets/ford/images/oiling.png" alt="" />
        <div class="text-blue-600 font-medium line-height-3 mb-2 text-center">
          Oiling Service
        </div>
      </div>
    </div>

    <div
      class="col-12 sm:col-3 md:col-3 lg:col-3 flex align-items-stretch text-center"
    >
      <div class="px-5 py-3 surface-card shadow-2 border-round">
        <img src="assets/ford/images/brakes.png" alt="" />
        <div class="text-blue-600 font-medium line-height-3 mb-2 text-center">
          Brake Switch
        </div>
      </div>
    </div>
  </div>
</div>
