<div>
  <div class="name-text">
    <p class="name-text2">Raphael Braga - Comprador</p>
  </div>
  <div class="profile-container">
    <img
      class="profile-picture"
      src="assets/ford/images/picture-profile.png"
      alt=""
    />
  </div>

  <img class="banner" src="assets/ford/images/banner-car.png" alt="" />
  <div class="container318">
    <a routerLink=""
      ><img
        class="service-card"
        src="assets/ford/images/service-card.png"
        alt=""
    /></a>
    <a routerLink=""
      ><img class="wheel-card" src="assets/ford/images/service-card.png" alt=""
    /></a>
    <a routerLink=""
      ><img
        class="service-card"
        src="assets/ford/images/service-card.png"
        alt=""
    /></a>
    <a routerLink=""
      ><img
        class="service-card"
        src="assets/ford/images/service-card.png"
        alt=""
    /></a>
    <a routerLink=""
      ><img
        class="service-card"
        src="assets/ford/images/service-card.png"
        alt=""
    /></a>
    <a routerLink=""
      ><img class="wheel-card" src="assets/ford/images/service-card.png" alt=""
    /></a>
    <a routerLink=""
      ><img
        class="service-card"
        src="assets/ford/images/service-card.png"
        alt=""
    /></a>
    <a routerLink=""
      ><img
        class="service-card"
        src="assets/ford/images/service-card.png"
        alt=""
    /></a>
    <a routerLink=""
      ><img
        class="service-card"
        src="assets/ford/images/service-card.png"
        alt=""
    /></a>
    <a routerLink=""
      ><img class="wheel-card" src="assets/ford/images/service-card.png" alt=""
    /></a>
    <a routerLink=""
      ><img
        class="service-card"
        src="assets/ford/images/service-card.png"
        alt=""
    /></a>
    <a routerLink=""
      ><img
        class="service-card"
        src="assets/ford/images/service-card.png"
        alt=""
    /></a>
  </div>
</div>
